$body-background-color: #0d2e38 !default;
$header-background-color: #010d11 !default;
$header-color: rgb(164, 198, 221) !default;
$footer-background-color: #010d11 !default;
$footer-color: rgb(151, 196, 226) !default;
$footer-a-color: rgb(151, 196, 226) !default;
$a-hover-color: #2f82a8 !default;
$footer-p-color: rgb(151, 196, 226) !default;
$nav-ul-li-hover-color: #1f4c61 !default;
$sidebar-chosen-color: rgb(211, 231, 243) !default;
$kmom-sidebar-hover-color: rgb(192, 220, 238) !default;
$kmom-h3-background-color: #010d11 !default;
$box-background-color: #0d2e38 !default;
$page-title-color: rgb(178, 210, 224) !default;
$titles-color: rgb(164, 198, 221) !default;
$p-color: rgb(160, 199, 224) !default;
$border-color: #296177 !default;
$icon-color: rgb(151, 196, 226) !default;
