$body-background-color: #fff !default;
$header-background-color: #91cbe2 !default;
$header-color: rgb(11, 78, 104) !default;
$footer-background-color: #91cbe2 !default;
$footer-color: rgb(17, 95, 126) !default;
$footer-a-color: rgb(17, 95, 126) !default;
$a-hover-color: #91cbe2 !default;
$footer-p-color: rgb(17, 95, 126) !default;
$nav-ul-li-hover-color: #91cbe2 !default;
$sidebar-chosen-color: rgba(56, 143, 150, 0.87) !default;
$kmom-sidebar-hover-color: #91cbe2 !default;
$kmom-h3-background-color: #628ca0 !default;
$box-background-color: #91cbe2 !default;
$page-title-color: rgb(9, 59, 78) !default;
$titles-color: rgb(10, 71, 95) !default;
$p-color: rgb(14, 81, 107) !default;
$border-color: #85bacf !default;
$icon-color: rgb(11, 78, 104) !default;
