$body-background-color: #7b97ad !default;
$header-background-color: #628ca0 !default;
$header-color: #000 !default;
$footer-background-color: #3284ad !default;
$footer-color: #c0c0c0 !default;
$footer-a-color: #ddd !default;
$footer-a-hover-color: #fff !default;
$footer-p-color: #fff !default;
$nav-ul-li-hover-color: #7c919c !default;
