@import '../../node_modules/normalize.css/normalize';
@import '../../shared/scss/variables';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: $body-background-color;
}

.site-header {
    flex: 0 0 auto;
    background: $header-background-color;
    color: $header-color;
    padding: 0 2em;
}

.site-header a,
.site-header a:visited {
    color: $header-color;
    font-size: 1.4em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    flex: 1 0 auto;
    padding: 6em;
}

.kmom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kmom-container-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 300px 300px 300px;
}

.wrapper-kmom {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 300px 600px;
    grid-template-rows: 100%;
}

.notchosen {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 150%;
    font-weight: bold;
}

.chosen {
    text-decoration: none;
    color: rgb(160, 228, 233);
    font-size: 180%;
    font-weight: bold;
}
  
.kmom-sidebar a:hover {
    color: rgb(156, 199, 228);
}

.kmom-sidebar {
    width: 27%;
    background-color: $body-background-color;
}

.kmom-mainpage {
    width: 70%;
    background-color: $body-background-color;
}

.sidetitle {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.kmom-project h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 1.2em;
    background-color: rgb(97, 96, 96);
    border-radius: 12px 12px 1px 1px;
}

.kmom-box h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 1.2em;
    background-color: rgb(97, 96, 96);
    border-radius: 12px 12px 1px 1px;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.box3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.box4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.box5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.box6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.kmom-project {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 1px 1px;
    margin: 1.5em 0.2em;
    position: relative;
}

.fa-chevron-circle-right {
    margin: 0.3em;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.kmom-icon {
    text-decoration: none;
    color: inherit;
}

h1 {
    width: 100%;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

p {
    max-width: 50em;
    padding: 1 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.box-text {
    margin-left: 0.5em;
}

.flash-region {
    max-height: 100px;
    width: 100%;
    overflow: hidden;
}

.flash-img {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: $footer-background-color;
    color: $footer-color;
}

.footer a {
    color: $footer-a-color;
}

.footer a:hover {
    color: $footer-a-hover-color;
}

.footer p {
    float: left;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    padding: 3em 0;
    color: $footer-p-color;
    font-size: 1rem;
}

.footer .social {
    float: right;
    margin-right: 2em;
    margin-left: 2em;
    padding: 1.5em 0 1.5em 1em;
    font-size: 3rem;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    padding: 1.5em 0;
    text-align: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
    font-weight: bold;
    border-style: solid;
}

.nav ul li:hover {
    background-color: $nav-ul-li-hover-color;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

@media only screen and (max-device-width: 960px) {
    .main {
        flex: 1 0 auto;
        padding: 1em;
    }
    
    .kmom-container-grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 90%;
        grid-template-rows: 100px 300px 300px 300px 300px 300px 300px 300px;
    }

    .sidetitle {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .box1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .box2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .box3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .box4 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .box5 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .box6 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .kmom-project {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
        background-color: rgb(255, 255, 255);
        border-radius: 12px 12px 1px 1px;
        margin: 1.5em 0.2em;
        position: relative;
    }
    
    .kmom-sidebar {
        display: none;
    }
    
    .kmom-mainpage {
        float: center;
        width: 100%;
        background-color: $body-background-color;
    }
}
