@import '../../node_modules/normalize.css/normalize';
@import '../../shared/scss/variables-light';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Palatino', sans-serif;
}

h1 {
    color: $page-title-color;
    font-size: 300%;
    font-family: 'Dotum', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    color: $titles-color;
    font-family: 'Dotum', sans-serif;
}

h2 {
    text-align: center;
    font-size: 250%;
}

h3 {
    font-size: 150%;
}

.kmom-mainpage h2 {
    text-align: left;
}

p {
    color: $p-color;
    font-size: 110%;
    text-align: justify;
}

td {
    border: solid;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: $body-background-color;
}

.site-header {
    flex: 0 0 auto;
    background: linear-gradient($header-background-color, $body-background-color);
    color: $header-color;
}

.site-header a,
.site-header a:visited {
    color: $header-color;
    font-size: 1.4em;
    text-decoration: none;
    font-family: 'Dotum', sans-serif;
}

.main {
    flex: 1 0 auto;
    padding: 6em;
}

.mainpic {
    margin: 0 auto;
}

.main-texts {
    margin: auto;
    width: 40%;
}

.kmom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kmom-container-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 300px 300px 300px;
}

.gallery-container-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 300px 300px;
}

.analysis-container-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 300px;
}

.wrapper-kmom {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 300px 600px;
    grid-template-rows: 100%;
}

.sidebar-notchosen {
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
}

.sidebar-chosen {
    text-decoration: none;
    font-size: 180%;
    font-weight: bold;
    color: $sidebar-chosen-color;
}
  
.sidebar-chosen:hover,
.sidebar-notchosen:hover {
    color: $kmom-sidebar-hover-color;
}

.kmom-sidebar {
    width: 27%;
    text-decoration: none;
}

.kmom-sidebar a {
    text-decoration: none;
}

.kmom-mainpage {
    width: 70%;
    background-color: $body-background-color;
}

.sidetitle {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.kmom-project h3 {
    text-align: left;
    color: $page-title-color;
    padding: 1.2em;
    background: linear-gradient($kmom-h3-background-color, $box-background-color);
    border-radius: 12px;
}

.kmom-box h3 {
    text-align: left;
    color: $page-title-color;
    padding: 1.2em;
    background: linear-gradient($kmom-h3-background-color, $box-background-color);
    border-radius: 12px;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.box3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.box4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.box5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.box6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.kmom-project {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background: linear-gradient($box-background-color, $body-background-color);
    border-radius: 12px;
    margin: 1.5em 0.2em;
    position: relative;
    border-color: $border-color;
    border-style: groove;
}

.picture-box1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 1.5em 0.2em;
    position: relative;
}

.picture-box2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 1.5em 0.2em;
    position: relative;
}

.picture-box3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 1.5em 0.2em;
    position: relative;
}

.picture-box4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 1.5em 0.2em;
    position: relative;
}

.picture-box5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 1.5em 0.2em;
    position: relative;
}

.picture-box6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin: 1.5em 0.2em;
    position: relative;
}

.fa-chevron-circle-right {
    margin: 0.3em;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: $icon-color;
}

.fa-chevron-circle-right:hover {
    color: $a-hover-color;
}

.kmom-icon {
    text-decoration: none;
    color: inherit;
}

h1 {
    width: 100%;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

p {
    padding: 1 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.box-text {
    margin-left: 0.5em;
}

.flash-region {
    max-height: 100px;
    width: 100%;
    overflow: hidden;
}

.flash-img {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.gallery-img {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background: linear-gradient($body-background-color, $footer-background-color);
    color: $footer-color;
}

.footer a {
    color: $footer-a-color;
}

.footer a:hover {
    color: $a-hover-color;
}

.footer p {
    float: left;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    padding: 3em 0;
    color: $footer-p-color;
    font-size: 1rem;
}

.footer .social {
    float: right;
    margin-right: 2em;
    margin-left: 2em;
    padding: 1.5em 0 1.5em 1em;
    font-size: 3rem;
}

.headersocial {
    float: right;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    font-size: 1.25em;
}

.headersocial a:hover {
    color: $a-hover-color;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    padding: 1.5em 3em;
    text-align: left;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
    font-weight: bold;
    border-style: solid;
    font-family: 'Dotum', sans-serif;
}

.nav ul li:hover {
    background-color: $nav-ul-li-hover-color;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.websiteimg {
    max-width: 100%;
    max-height: 100%;
}

.mainsite-image {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-device-width: 960px) {
    .main {
        flex: 1 0 auto;
        padding: 1em;
    }

    .mainpic {
        margin: 0 auto;
    }
    
    h1 {
        font-size: 200%;
    }

    .kmom-container-grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100%;
        grid-template-rows: 100px 300px 300px 300px 300px 300px 300px 300px;
    }

    .gallery-container-grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100%;
        grid-template-rows: 50px 200px 200px 200px 200px 200px 200px;
    }

    .analysis-container-grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100%;
        grid-template-rows: 100px 300px 300px 300px;
    }

    .kmom-container-grid p,
    .analysis-container-grid p {
        text-align: left;
    }

    .sidetitle {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main-texts {
        margin: auto;
        width: 80%;
    }
    
    .nav {
        padding: 0.5em 1.5em;
        text-align: center;
    }

    h2 {
        font-size: 220%;
    }
    
    h3 {
        font-size: 125%;
    }

    .box1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }
    
    .box2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }
    
    .box3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }
    
    .box4 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }
    
    .box5 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }
    
    .box6 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }
    
    .kmom-project {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
        background: linear-gradient($box-background-color, $body-background-color);
        border-radius: 12px;
        margin: 1.5em 0.2em;
        position: relative;
        border-color: $border-color;
        border-style: groove;
    }

    .picture-box1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0.2em auto;
        position: relative;
    }
    
    .picture-box2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0.2em auto;
        position: relative;
    }
    
    .picture-box3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin: 0.2em auto;
        position: relative;
    }
    
    .picture-box4 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin: 0.2em auto;
        position: relative;
    }
    
    .picture-box5 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        margin: 0.2em auto;
        position: relative;
    }
    
    .picture-box6 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        margin: 0.2em auto;
        position: relative;
    }
    
    .kmom-sidebar {
        display: none;
    }
    
    .kmom-mainpage {
        float: center;
        width: 100%;
        background-color: $body-background-color;
    }

    .headersocial {
        margin-right: 0.3em;
        margin-left: 0.3em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        padding: 0.3em;
        font-size: 0.75em;
    }
}
